@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
html {
    scroll-behavior: smooth;

  }
body{
    margin:0 0;
    font-family: Poppins,sans-serif;
}
.header_background{
  height: 95%;
  background-image:url(back1.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  background-position-y: top;
  position: relative;
  
  }
.place{
    height: 5%;
    width: 100%;
}
.navigation{
 
  display:block;
 padding: 0;
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  height: 5%;
  z-index: 1;
 margin:auto;
  
}
.navigation ul{
   
    float:right;
    margin:0;
    position: relative;
    right: 5%;
    list-style-type: none;
    display:block;
    padding: 0;
  
}
.navigation li{
float: left;

}
.navigation li:hover {
    background-color: #111;
    border-radius: 4px;
  }
.navigation a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin:auto;
   
    
}

.header{
background-color: steelblue;
width: 100%;
height: 5%;
text-align: center;
color:whitesmoke;
font-weight: bolder;
font-family:sans-serif,arial;
margin:auto;
}
.header h1{
    margin: 0 0;
    padding-top: 7px;  
    font-size: 2em;
}
.content_main{
    min-height: 80%;
    background-color: lightgray;
}
.content_container{
    
    display:flex;
    flex-flow: row wrap;
    align-content: space-evenly;
    background-color: whitesmoke;
    width: 90%;
    min-height: 80%;
    margin: auto;
    border:5px solid rgb(165, 165, 165);
    border-top: 0px;
    border-bottom: 0px;
    
    position: relative;
   
    
}
.content_container_noflex{
  
  width: 90%;
    min-height: 80%;
    margin: auto;
    background-color: whitesmoke;
}
.content{
    margin-top: 5px;
    height: auto;
    
}
.footer{
    background-color: brown;
    height:10%;
}
.column-33{
    width: 33%;
}
.column-50{
    width: 50%;
}
.image {
    width: 440px; /* width of container */
    height: 220px; /* height of container */
    object-fit: cover;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.image:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile{
    position: relative;
    left:30%;
    height: 434;
    width: 434;
    border-radius: 5px;
}
.text_header{
font-family: Poppins,sans-serif;
flex:none;
    font-size: xx-large;
    display: block;
    margin: 0;
}
.text_body{
font-family: Poppins,sans-serif;
font-size: large;
display: block;
margin: 0;
}






/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.616);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
    margin:auto;
    
  }
  .mySlides img{
    max-width:100%;
    max-height: 20%;
    
  }
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .comment_section{
    overflow: scroll;
    min-height: 7%;
    max-height: 20%;
}
.comment_text{
    height: 5%;
    background-color: gray;
}
.like_comment{
    height: 5%;
    background-color: gray;
    text-align: center;
    
}
.like_comment p{
  margin:0;
}
.like p{
    margin:0;
}
.modal_image{
  background-color: rgba(128, 128, 128, 0.425);
  
}
 .modal_image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

#komentar{
  background-color: rgba(255, 250, 250, 0.493);
  height: 90%;
  width: 70%;
  float: left;
  resize: none;
  margin-left: 5px;
}
#submit{
  float:left;
  height: 90%;
  width:3%;
  margin:0;
  border:0;
  padding: 0;
}
.like_kopce{
  float:left;
  height: 90%;
  width:3%;
  margin:0 2 0 2;
  border:0;
  padding: 0;
  background-image: image("placeholder.jpg");
}
.like{
display:inline;
float: left;
}
#myFile{
  padding-top: 30px;
}
#Blog_content textarea{
  resize: none;
}
.blog_container{
  text-align: center;
}
.blog_text{
  display: block;
  margin: auto;
}
.blog_text{
  border: 1px solid;
  border-color: rgb(37, 37, 37);
  width: 70%;
  margin-top: 5px;
}
.blog_text p{
  display: block;
  margin: auto;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  text-align: center;
  width: 70%;
  border: 1px solid;
  overflow-wrap: break-word;
  border-color: rgb(37, 37, 37);
}
iframe{
  width: 440px; /* width of container */
  height: 220px; /* height of container */
  border: 1px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}
.contact{
  display:block;
  margin:auto;
}
